In [2]:
import pandas as pd

In [10]:
df = pd.read_csv("employee_churn_data_clearned.csv")
df

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
0,0,0,0.577569,3,0,5.0,0.626759,0,180.866070,no
1,0,0,0.751900,3,1,6.0,0.443679,0,182.708149,no
2,1,0,0.722548,3,1,6.0,0.446823,0,184.416084,no
3,2,0,0.675158,4,2,8.0,0.440139,0,188.707545,no
4,3,0,0.676203,3,2,5.0,0.577607,1,179.821083,no
...,...,...,...,...,...,...,...,...,...,...
18825,9,0,0.774566,3,2,5.0,0.318826,0,180.990176,no
18826,9,0,0.675908,3,2,5.0,0.543327,0,181.165343,no
18827,9,0,0.690232,3,2,7.0,0.752576,0,187.269190,yes
18828,9,0,0.771905,3,2,8.0,0.619672,0,188.750091,yes
18829,9,0,0.695433,3,2,6.0,0.453234,0,183.564299,no