In [10]:
#ใช้งานเฉพาะตอนที่มีการเพิ่ม package

%pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

In [11]:
import pandas as pd

In [12]:
#Create dataframe
df = pd.read_csv("employee_churn_data.csv")
df

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
0,operations,0,0.577569,3,low,5.0,0.626759,0,180.866070,no
1,operations,0,0.751900,3,medium,6.0,0.443679,0,182.708149,no
2,support,0,0.722548,3,medium,6.0,0.446823,0,184.416084,no
3,logistics,0,0.675158,4,high,8.0,0.440139,0,188.707545,no
4,sales,0,0.676203,3,high,5.0,0.577607,1,179.821083,no
...,...,...,...,...,...,...,...,...,...,...
9535,operations,0,0.610988,4,medium,8.0,0.543641,0,188.155738,yes
9536,logistics,0,0.746887,3,medium,8.0,0.549048,0,188.176164,yes
9537,operations,0,0.557980,3,low,7.0,0.705425,0,186.531008,yes
9538,IT,0,0.584446,4,medium,8.0,0.607287,1,187.641370,yes
9539,finance,0,0.626373,3,low,7.0,0.706455,1,185.920934,yes

In [13]:
#data cleaning
count = 0 
for i in df["department"].unique():
    df = df.replace(i,count)
    count += 1

count = 0
for i in df["salary"].unique():
    df = df.replace(i,count)
    count += 1
df

,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
0,0,0,0.577569,3,0,5.0,0.626759,0,180.866070,no
1,0,0,0.751900,3,1,6.0,0.443679,0,182.708149,no
2,1,0,0.722548,3,1,6.0,0.446823,0,184.416084,no
3,2,0,0.675158,4,2,8.0,0.440139,0,188.707545,no
4,3,0,0.676203,3,2,5.0,0.577607,1,179.821083,no
...,...,...,...,...,...,...,...,...,...,...
9535,0,0,0.610988,4,1,8.0,0.543641,0,188.155738,yes
9536,2,0,0.746887,3,1,8.0,0.549048,0,188.176164,yes
9537,0,0,0.557980,3,0,7.0,0.705425,0,186.531008,yes
9538,4,0,0.584446,4,1,8.0,0.607287,1,187.641370,yes
9539,8,0,0.626373,3,0,7.0,0.706455,1,185.920934,yes

In [14]:
#Create complete data 
df.to_csv("employee_churn_data_clean.csv", index=False)