In [2]:
import pandas as pd
from imblearn.over_sampling import RandomOverSampler

In [4]:
df = pd.read_csv("employee_churn_data_clean.csv")
df.department.value_counts()

department
3    1883
9    1541
0    1522
6    1516
7     802
1     735
5     423
8     402
2     360
4     356
Name: count, dtype: int64

In [9]:
x ,y = RandomOverSampler().fit_resample(df, df["department"])
x

,Unnamed: 0,department,promoted,review,projects,salary,tenure,satisfaction,bonus,avg_hrs_month,left
0,0,0,0,0.577569,3,0,5.0,0.626759,0,180.866070,no
1,1,0,0,0.751900,3,1,6.0,0.443679,0,182.708149,no
2,2,1,0,0.722548,3,1,6.0,0.446823,0,184.416084,no
3,3,2,0,0.675158,4,2,8.0,0.440139,0,188.707545,no
4,4,3,0,0.676203,3,2,5.0,0.577607,1,179.821083,no
...,...,...,...,...,...,...,...,...,...,...,...
18825,5998,9,0,0.652639,3,2,6.0,0.244194,0,184.450225,no
18826,2682,9,0,0.576220,3,1,4.0,0.906941,0,176.267732,no
18827,8347,9,0,0.540900,2,2,8.0,0.524028,0,187.900576,yes
18828,1456,9,0,0.547456,3,1,4.0,0.750784,0,178.045310,no
18829,2682,9,0,0.576220,3,1,4.0,0.906941,0,176.267732,no

In [10]:
x.to_csv("employee_churn_data_clearned.csv")